@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,500&display=swap');
*{
  font-size: 12px;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(236, 240, 244);
}

.photo-md{
  width: 80px;
  height: 90px;
}

.spinner{
  width: 60px;
  height: 60px;
}
